.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 25px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin: 0 20vw;
}

.app-main {
  display: flex;
  align-items: center;
}

.board-container {
  background-color: #D0C3B0;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 0;
}

.row-mastermind {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 20px 10px 20px;
  border: 1px solid #444;
}

.row-chips {
  display: flex;
  padding: 0 20px;
}

.row-chips.selected {
  background-color: #e1d9cd;
}

.clues {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  align-content: center;
  margin-right: 8px;
}

.clue {
  width: 6px;
  height: 6px;
  margin: 2px;
  background-color: #907e7e;
  border-radius: 50%;
}

.chip {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 8px;
  background-color: #888;
  border: 1px solid #444;
}

.selected .chip.selected-chip {
  box-shadow: 0 0 6px 1px #666;
  background-color: #ccc;
}

.selected .chip {
  cursor: pointer;
}

.colors-container {
  margin: 20px 0;
  background-color: #fafafa;
  border-radius: 10px;
  height: fit-content;
  padding: 8px;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.color-chip {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #444;
  cursor: pointer;
}

.play-btn {
  padding: 6px;
  border: none;
  width: 100%; 
  border-radius: 10px;
  background-color: #4cae4c;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}

.reset-btn {
  padding: 10px;
  border: none;
  width: 100%; 
  border-radius: 10px;
  background-color: #444;
  color: #fff;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reset-btn:hover, .play-btn:hover {
  box-shadow: 0 0 6px 1px #666;
}

.reset-btn svg {
  margin-right: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
